# data science
numpy<2.0.0
pandas==2.2.3

# Uncomment if you use sklearn
# scikit-learn==1.6.1

# Install the correct TensorFlow version
# Uncomment if you use TensorFlow
tensorflow==2.17.1    # For both Intel and Apple silicon
keras==3.5.0
keras_cv

# Google Cloud
# Uncomment if you use Google Cloud Storage
google-cloud-storage
google-cloud
# OpenCV
opencv-python

# API
fastapi
uvicorn
python-multipart
